{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<style>
.jumbotron {
    background-color: #009999; /* Blue */
    color: #ffffff;
}
</style>
<div class="jumbotron text-center">
  <h1>Keep Exploring!</h1>
</div>
<style>
.bg-green {
    background-color: #ace699;
}
  .logo {
    font-size: 200px;
}
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
}
  }
</style>
<div class="container-fluid bg-green">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h1></h1>
      <h4><strong>Thinking about going somewhere new?</strong></h4>
      <h4>Start planning your destinations now!</h4>
      <h1></h1>
      <h4><strong>Have the perfect recommendation for your city?</strong></h4>
      <h4>Help a fellow traveler out!</h4>
    </div>
  </div>
</div>
{% else %}
<style>
.jumbotron {
    background-color: #009999; /* Blue */
    color: #ffffff;
}
</style>
<div class="jumbotron text-center">
  <h1>Welcome to Destination Recommendation</h1>
  <p>Get a recommendation for where to go in your unfamiliar destination!</p>
  <p><a class="btn btn-lg btn-success" href="{% url 'registration_register' %}">Sign up</a></p>
</div>
<style>
.bg-green {
    background-color: #ace699;
}
</style>
<style>
  .logo {
    font-size: 200px;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
  }
</style>

<div class="container-fluid bg-green">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Learn more about us!</h2>
      <h4><strong>What we do:</strong> Help travelers out by creating a community of explorers who recommend points of interest and vote on the best recommendations, leading travelers to the perfect destination.</h4>
      <h4><strong>Get involved:</strong> Become a part of this community by signing up for your own personal account! You'll be able to help other's out and recieve answers of your own.</h4>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}