{% extends 'base.html' %}
{% block content %}
{% for destination in object_list %}
<style>
.bg-light {
    background-color: #f6f3ee;
    margin: 25px 0;
    text-align: center;
}
</style>
<div class="container bg-light">
    <h3><a href="{{ destination.get_absolute_url }}">{{ destination.destination }}</a></h3>
    <h5>{{ destination.point_of_interest }}</h5>
    <span class="glyphicon glyphicon-globe logo"></span><p>Added by {{ destination.user.username }} on {{ destination.created_at}}</p>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
    <ul class="pager">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}