{% extends 'base.html' %}
{% block content %}
<h1>{{ destination.destination }}</h1>
<p>{{ destination.point_of_interest }}</p>
<p>Asked by {{ destination.user.username }} on {{ destination.created_at }}</p>
{% if question.user == user %}
<p><a href="{% url 'destination_update' pk=destination.id %}">Edit destination</a></p>
<p><a href="{% url 'destination_delete' pk=destination.id %}">Delete destination</a></p>
{% endif %}
<p><a href="{% url 'recommendation_create' pk=destination.id %}">Add recommendation</a></p>
{% endblock %}