{% extends 'base.html' %}
{% block content %}
<h1>{{ destination.destination }}</h1>
<p>{{ destination.point_of_interest }}</p>
<p>Added by {{ destination.user.username }} on {{ destination.created_at }}</p>
{% if destination.user == user %}
<p><a href="{% url 'destination_update' pk=destination.id %}">Edit destination</a></p>
<p><a href="{% url 'destination_delete' pk=destination.id %}">Delete destination</a></p>
{% endif %}
{% if recommendations.count > 0 %}
<h3>{{ recommendations.count }} Recommendation{{ recommendations.count|pluralize }}:</h3>
{% endif %}
{% for recommendation in recommendations %}
<div class="panel">
<p>{{ recommendation.recommendation }}</p>
{%if recommendation.user == user %}
<p><a href="{% url 'recommendation_update' destination_pk=destination.id recommendation_pk=recommendation.id %}">Edit  recommendation</a></p>
<p><a href="{% url 'recommendation_delete' destination_pk=destination.id recommendation_pk=recommendation.id %}">Delete recommendation</a></p>
{% endif %}
<p>Recommended by {{ recommendation.user.username }} on {{ recommendation.created_at }}</p>
<p>{{ recommendation.vote_set.all.count }} Vote{{ recommendation.vote_set.all.count|pluralize }}</p>
<form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="destination" value="{{ destination.id }}" />
    <input type="hidden" name="recommendation" value="{{ recommendation.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
    <button>+</button>
</form>
</div>
{% endfor %}
{% if not user_recommendations %}
<p><a href="{% url 'recommendation_create' pk=destination.id %}">Add recommendation</a></p>
{% endif %}
{% endblock %}